In [1]:
#series
import pandas as pd
purchase_1 = pd.Series([1,2,3])
purchase_1

0    1
1    2
2    3
dtype: int64

In [2]:
pd.Series?

In [3]:
#series to dataframe
purchase_1 = pd.Series({'Name': 'Chris',
                        'Item Purchased': 'Dog Food',
                        'Cost': 22.50})
purchase_2 = pd.Series({'Name': 'Kevyn',
                        'Item Purchased': 'Kitty Litter',
                        'Cost': 2.50})
purchase_3 = pd.Series({'Name': 'Vinod',
                        'Item Purchased': 'Bird Seed',
                        'Cost': 5.00})
print(purchase_1)

df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index=['Store 1', 'Store 1', 'Store 2'])
df

Name                 Chris
Item Purchased    Dog Food
Cost                  22.5
dtype: object

          Name Item Purchased  Cost
Store 1  Chris       Dog Food  22.5
Store 1  Kevyn   Kitty Litter   2.5
Store 2  Vinod      Bird Seed   5.0

In [88]:
pd.DataFrame?

In [4]:
type(df['Name'])

pandas.core.series.Series

In [5]:
type(df.loc['Store 1'])

pandas.core.frame.DataFrame

In [6]:
type(df.loc['Store 2'])

pandas.core.series.Series

In [7]:
df2=df.to_csv('store.csv') #write dataframe in to csv file

In [93]:
import os
os.getcwd()

In [94]:
df.loc["Store 2"]

In [95]:
df.iloc[0]

In [96]:
type(df.loc["Store 2"])

In [97]:
df["Name"]

In [98]:
type(df["Name"])

In [99]:
df.loc["Store 1"]

In [100]:
type(df.loc['Store 1'])

In [101]:
df.loc["Store 1","Cost"]

In [102]:
df.T

In [103]:
df.T.loc["Cost"]

In [104]:
df.loc[:,["Name","Cost"]]

In [105]:
df.iloc[:,:2]

In [106]:
df_new=df.drop("Store 1")

In [107]:
df_new

In [108]:
df

In [109]:
df1=df.copy()

In [110]:
df1

In [111]:
df1=df.drop("Store 1")

In [112]:
df1

In [113]:
del df1["Name"]

In [114]:
df1

In [115]:
df['location']=None
df

In [116]:
df['location']=['delhi','mumbai','chennai']

In [117]:
df

In [118]:
Costs=df["Cost"]

In [119]:
Costs+=2

In [120]:
df

In [121]:
df.iloc[0:2,0:2]

In [122]:
df.loc["Store 1":"Store 3","Name":"Name"]

In [123]:
purchase_1 = pd.Series({'Name': 'Chris',
                        'Item Purchased': 'Dog Food',
                        'Cost': 22.50})

df = pd.DataFrame([purchase_1], index=['Store 1'])
df

In [124]:
# Create a Python list object with all the column values
i_row = ["Chris","Dog Food","22.5"]
 
# Append the above Python list object as a row to the existing pandas DataFrame
# At index 2 using the DataFrame.iloc[]
df.loc['Store 2'] = i_row
 
# Print the modified pandas DataFrame object after addition of a row
print('Modified Sample pandas DataFrame:\n')
print(df)